:root {
    --title-font: 'Open Sans', sans-serif;
    --body-font: 'Lato', sans-serif;
    --black: #000000;
    --blue: #14213D;
    --orange: #FCA311;
    --grey: #E5E5E5;
    --white: #FFFFFF;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    height: 80px;
    padding: 0 10px;
    background-color: var(--blue);
}
.header__logo {
    width: 180px;
    height: 60px;
    background-color: white;
}
.header__burguer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: var(--orange);;
    font-size: 3rem;
}
.header__nav {
    display: none;
    position: absolute;
    top: 80px;
    right: 0;
    background-color: var(--orange);
    width: 80%;
    height: 200px;
}
.header__nav.is-active {
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.nav__container {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    width: 100%;
    height: 100%;
}
.nav__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    list-style: none;
    border-bottom: 1px solid black;
}
.nav__item a {
    font-size: 2rem;
    font-weight: 700;
    color: var(--black);
    text-decoration: none;
}
.nav__item a:hover {
    text-decoration: underline;
}

/* MAIN */
/* SLIDER */
.main__slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 300px;
    padding: 0 20px;
    background-color: var(--blue);
    /* background-image: url('https://cdn.pixabay.com/photo/2015/09/29/22/49/blueprint-964630_960_720.jpg');
    background-size: cover;
    background-repeat: no-repeat; */
}
.slider__tilte {
    font-size: 4rem;
    font-family: var(--title-font);
    font-weight: 700;
    color: var(--orange);
}
.slider__sub-title {
    font-size: 2.5rem;
    font-family: var(--title-font);
    color: var(--orange);
}

/* Servicios profesionales */
.profesional-serveces {
    width: 100%;
    padding: 40px 40px;
    background-color: var(--grey);
}
.categorie__title {
    padding-bottom: 40px;
    font-family: var(--title-font);
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    color: var(--blue);
    line-height: 30px;
}
.grid-container {
    display: grid;
    grid-template-columns: minmax(220px, 320px);
    grid-template-rows: repeat(4, 250px);
    gap: 20px;
    justify-content: center;
}
.serveces__item {
    position: relative;
    width: 100%;
    padding: 30px 10px 0 10px;
    background-color: var(--orange);
    border: 2px solid var(--blue);
    border-radius: 25px;
}
.item__title {
    width: 100%;
    margin-bottom: 30px;
    font-family: var(--title-font);
    font-size: 1.9rem;
    color: var(--black);
}
.item__list {
    padding-left: 20px;
}
.item__list li {
    margin-bottom: 5px;
    font-size: 1.5rem;
    font-family: var(--body-font);
}
.contact__button {
    position: absolute;
    bottom: 15px;
    right: 15px;
    height: 40px;
    padding: 10px;
    font-family: var(--title-font);
    font-size: 1.6rem;
    color: var(--grey);
    background-color: var(--blue);
    border-radius: 10px;
    text-decoration: none;
}
.contact__button:hover {
    bottom: 20px;
    text-decoration: underline;
}

/* ABOUT */
.about {
    width: 100%;
    background-color: var(--grey);
    padding: 40px 20px;
}
.about p {
    font-family: var(--body-font);
    font-size: 1.5rem;
}

/* EXPERIENCIA */
.experience {
    width: 100%;
    padding: 0 20px;
    background-color: var(--grey);
}
.experience .categorie__title {
    padding-bottom: 20px;
    text-align: start;
}
.experience__info {
    font-family: var(--body-font);
    font-size: 1.5rem;
    padding-bottom: 40px;
}
.companies {
    width: 100%;
    padding: 40px 20px;
    background-color: var(--blue);
}
.companies__title {
    padding-bottom: 40px;
    font-family: var(--title-font);
    font-size: 2.5rem;
    font-weight: 700;
    color: var(--orange);
    line-height: 30px;
}
.companies__slider {
    margin: 0 auto;
    width: 98%;
    height: 90px;
    border-radius: 15px;
    background-color: var(--grey);
}


/* CONTACTO */
.contact {
    width: 100%;
    padding: 40px;
    background-color: var(--black);
    color: white;
}
.contact__title {
    padding-bottom: 40px;
    font-family: var(--title-font);
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    color: var(--white);
    line-height: 30px;
}
.contact__container {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.contact__info {
    display: flex;
    align-items: center;
    padding: 5px;
    margin-bottom: 20px;
    text-decoration: none;
    color: var(--white);
    font-size: 1.6rem;
    font-family: var(--body-font);
    border-radius: 10px;
}
.contact__info:hover {
    font-weight: bold;
    color: var(--black);
    background-color: var(--white);
}
.fab {
    font-size: 3.5rem;
    margin-right: 15px;
}
.contact__container > .contact__info ~ .contact__info {
    margin-left: 50px;
}